@model IEnumerable<Accommodation.Models.Building>

@{
    ViewBag.Title = "RoomBooking";
}
<br />
<br />
<h2 align="center">Properties</h2>
<div class="row">
    <br />
    <div>
        <table class="table">
            <div class="w3-container">
                @foreach (var item in Model)
                {


                    <div class="col-10 mx-auto my-3 col-md-6 col-lg-4">
                        <div class="card car-card">
                            <a><img src="data:image/png;base64,@Convert.ToBase64String(item.BuildingPic, 0, item.BuildingPic.Length)" style="width: 300px; height: 200px" alt="" /></a>


                            @*<img src="~/img/the_car.png" class="card-img-top car-img" alt="" width="200" height="200" />*@
                            @*<img src="Iimages/Isuzu.jpg" class="card-img-top car-img" alt="">*@
                            <!--card body-->
                            <h5 class="car-value align-self-centre py-2 px3">
                                <b>Building Name - <span class="car-price">@Html.DisplayFor(modelItem => item.BuildingName)</span></b>
                            </h5>
                            <div class="card-body">
                                <div class="car-info d-flex justify-content-between">
                                    <!--first  flex child-->
                                    <h5 class="car-value align-self-centre py-2 px3">
                                        Building Description - <span class="car-price">@Html.DisplayFor(modelItem => item.BuildingDescription)</span>
                                    </h5>
                                    <!--second  flex child-->
                                    <h5 class="car-value align-self-centre py-2 px3">
                                        Building Address - <span class="car-price">@Html.DisplayFor(modelItem => item.Address)</span>
                                    </h5>
                                </div>
                            </div>
                            <!--end of card-->
                            <div class="card-footer text-capitalize d-flex justify-content-between">
                                @*<p><span><i class="fas fa-car"></i></span>@Html.DisplayFor(modelItem => item..CategoryName)</p>*@
                                <p> Number Of Floors - @Html.DisplayFor(modelItem => item.NoOfFloors)</p>
                            </div>
                            <div class="card-footer text-capitalize d-flex justify-content-between">
                                @*<p><span><i class="fas fa-car"></i></span>@Html.DisplayFor(modelItem => item..CategoryName)</p>*@
                                <p> Total Number of Rooms - @Html.DisplayFor(modelItem => item.TotalNumberOfRooms)</p>
                            </div>
                            <div class="card-footer text-capitalize d-flex justify-content-between">
                                @*<p><span><i class="fas fa-car"></i></span>@Html.DisplayFor(modelItem => item..CategoryName)</p>*@
                                <p>Type of Accommodation - @Html.DisplayFor(modelItem => item.TypeOfAccommodation)</p>
                            </div>
                            @Html.ActionLink("View property", "RoomsBooking", "Rooms", new { id = item.BuildingId }, new { @class = "btn btn-success" })

                        </div>
                        <hr />
                    </div>
                }
            </div>

        </table>
    </div>

</div>